<html>
    <head>
        <title>Chicago Weather Predictor</title>
    </head>
    <body>
        <h3>Chicago Weather Predictor: Current Forecast</h3>
        <p>Current Time in Chicago is {{ current_time }}</p>
        <!-- > CURRENT CONDITIONS <!-->
        <hr>
        <h4>Last Known Conditions</h4>
        <table>
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for row_cell in row %}
            <td>{{row_cell}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>

         <!-- > FORECAST <!-->
        <hr>
        <h4>Current Forecast</h4>
        <table>
        <tr>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}
        </tr>
        {% for row in row_data %}
        <tr>
            {% for row_cell in row %}
            <td>{{row_cell}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </table>
    </body>
</html>