Flask~=1.1.2
pandas~=1.2.4
numpy==1.19.4
Keras==2.4.3
Keras-Preprocessing==1.1.2
tensorflow==2.4.1
schedule==1.1.0
bs4==0.0.1
selenium==3.141.0
json5==0.9.5
lxml==4.6.1
ilock==1.0.3

pytz~=2019.3
pytest~=6.2.4
beautifulsoup4~=4.8.2
sklearn~=0.0
scikit-learn~=0.23.2